@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::before,
*::after {
  margin: 0;
  padding: 0;
}

a {
  color: #586ccd;
  text-decoration: none;
}
a:hover {
  color: #acb6e5;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 100vh;
  width: 100vw;
}

header .brand {
  font-size: 1.75rem;
  letter-spacing: 0;
  color: #586ccd;
}

main .login-form {
  max-width: 24.25rem;
  padding: 2.75rem 2.5rem 2.5rem 2.5rem;
  box-shadow: 0 5px 10px 1px #c8ccce;
  border-radius: 5px;
}
main .login-form label {
  font-size: 0.8rem;
  font-weight: 500;
}
main .login-form > div, main .login-form > div > div {
  margin: 1rem 0;
}
main .login-form__title {
  font-size: 1.25rem;
  font-weight: 400;
}
main .login-form .form-field {
  display: flex;
  flex-direction: column;
}
main .login-form .form-field:nth-of-type(2) {
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
main .login-form .form-field:nth-of-type(2) > a {
  order: 2;
  font-size: 0.9rem;
  font-weight: 500;
  padding-bottom: 0.5rem;
}
main .login-form .form-field:nth-of-type(2) > input {
  order: 3;
}
main .login-form .form-field input {
  width: 100%;
  height: 2.5rem;
  padding: 0.75rem;
  font-size: 0.9rem;
  font-weight: 500;
  border: 1px solid #c8ccce;
  border-radius: 5px;
  outline: none;
}
main .login-form .form-field input:focus, main .login-form .form-field input:hover {
  outline-color: #acb6e5;
  outline-style: auto;
}
main .login-form .form-field label {
  padding-bottom: 0.5rem;
}
main .login-form .form-item__checkbox {
  display: flex;
  align-items: center;
}
main .login-form .form-item__checkbox .form-item__check {
  cursor: pointer;
}
main .login-form .form-item__checkbox .form-item__check:checked {
  filter: hue-rotate(22deg) brightness(1);
}
main .login-form .form-item__checkbox > label {
  padding-left: 5px;
}
main .login-form .form-item__submit {
  width: 100%;
  height: 2.5rem;
  font-size: 0.9rem;
  font-weight: 500;
  color: white;
  background: #586ccd;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
main .login-form .form-item__submit:hover {
  background: #7188ee;
}
main .login-form .google-log {
  text-align: center;
}
main .login-form .google-log > a {
  font-size: 0.9rem;
  font-weight: 500;
}

footer > span {
  font-size: 0.9rem;
  font-weight: 500;
}