// media queries

// width
@media screen and (max-width: 1760px) {
  main {
    .field {
      max-height: 73vh;
    }
  }
}

@media screen and (max-width: 1600px) {
  main {
    .field {
      max-height: 68vh;
    }
  }
}

@media screen and (max-width: 1400px) {
  main {
    .field {
      max-height: 56vh;
      .row {
        .dice {
          max-width: 8rem;
          max-height: 7.5rem;
          border: 3px solid black;

          &__dot {
            width: 1.5rem;
            height: 1.5rem;
          }

          &--2,
          &--3,
          &--4,
          &--5,
          &--6 {
            padding: 0.5rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  main {
    .field {
      max-height: 50vh;
    }
  }
}

@media screen and (max-width: 1120px) {
  main {
    .field {
      max-height: 46vh;
      .row {
        .dice {
          max-width: 6rem;
          max-height: 5.5rem;

          &__dot {
            width: 1.15rem;
            height: 1.15rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  main {
    .field {
      max-height: 40vh;
    }
  }
}

@media screen and (max-width: 908px) {
  main {
    .field {
      max-height: 38vh;
    }
  }
}

@media screen and (max-width: 832px) {
  main {
    .field {
      max-height: 34vh;
      .row {
        .dice {
          max-width: 5rem;
          max-height: 4.5rem;
          border: 2px solid black;

          &__dot {
            width: 0.9rem;
            height: 0.9rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  main {
    .field {
      max-height: 31vh;
    }
  }
}

@media screen and (max-width: 700px) {
  main {
    .field {
      max-height: 28vh;
      .row {
        .dice {
          max-width: 4.5rem;
          max-height: 4rem;
          border-radius: 0.75rem;

          &__dot {
            width: 0.8rem;
            height: 0.8rem;
          }

          &--2,
          &--3,
          &--4,
          &--5,
          &--6 {
            padding: 0.35rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 664px) {
  main {
    .field {
      max-height: 27vh;
    }
  }
}

@media screen and (max-width: 640px) {
  main {
    .field {
      max-height: 26vh;
      .row {
        .dice {
          max-width: 4rem;
          max-height: 3.75rem;

          &__dot {
            width: 0.75rem;
            height: 0.75rem;
          }

          &--2,
          &--3,
          &--4,
          &--5,
          &--6 {
            padding: 0.35rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 595px) {
  main {
    .field {
      max-height: 26vh;
    }
  }
}

@media screen and (max-width: 570px) {
  main {
    .field {
      max-height: 24vh;
      .row {
        .dice {
          max-width: 3.75rem;
          max-height: 3.5rem;
          border-radius: 0.65rem;

          &__dot {
            width: 0.65rem;
            height: 0.65rem;
          }

          &--2,
          &--3,
          &--4,
          &--5,
          &--6 {
            padding: 0.3rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 552px) {
  main {
    .field {
      max-height: 23vh;
    }
  }
}

@media screen and (max-width: 540px) {
  main {
    .field {
      max-height: 22vh;
      .row {
        .dice {
          max-width: 3rem;
          max-height: 2.75rem;
          border-radius: 0.6rem;

          &__dot {
            width: 0.55rem;
            height: 0.55rem;
          }

          &--2,
          &--3,
          &--4,
          &--5,
          &--6 {
            padding: 0.25rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 540px) {
  main {
    .field {
      max-height: 21vh;
      .row {
        .dice {
          max-width: 2.75rem;
          max-height: 2.5rem;

          &__dot {
            width: 0.5rem;
            height: 0.5rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 440px) {
  main {
    .field {
      max-height: 20vh;
      .row {
        .dice {
          max-width: 2.5rem;
          max-height: 2.25rem;

          &__dot {
            width: 0.4rem;
            height: 0.4rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 362px) {
  main {
    .field {
      max-height: 17vh;
    }
  }
}

@media screen and (max-width: 320px) {
  main {
    .field {
      max-height: 15vh;
      .row {
        .dice {
          max-width: 2rem;
          max-height: 1.8rem;
          border: 1px solid black;
          border-radius: 0.5rem;

          &__dot {
            width: 5px;
            height: 5px;
          }
        }
      }
    }
  }
}

// height
@media screen and (max-height: 380px) {
  main {
    .field {
      .row.row--2 {
        justify-content: center;
      }
    }
  }
}
