* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::before,
*::after {
  margin: 0;
  padding: 0;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.field {
  display: flex;
  flex-direction: column;
  max-width: 25.25rem;
  width: 100%;
  max-height: 30.75rem;
  height: 100%;
  border: 1px solid black;
}
.field .row {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.field .row--2 {
  justify-content: space-evenly;
}
.field .row .dice {
  display: flex;
  flex: 1;
  max-width: 5rem;
  max-height: 4.75rem;
  height: 100%;
  border: 4px solid black;
  border-radius: 1rem;
}
.field .row .dice__dot {
  width: 18px;
  height: 18px;
  background-color: black;
  border-radius: 50%;
}
.field .row .dice--1 {
  justify-content: center;
  align-items: center;
}
.field .row .dice--2 {
  justify-content: space-between;
  padding: 5px;
}
.field .row .dice--2 > .dice__dot:first-child {
  align-self: flex-start;
}
.field .row .dice--2 > .dice__dot:last-child {
  align-self: flex-end;
}
.field .row .dice--3 {
  justify-content: space-between;
  padding: 5px;
}
.field .row .dice--3 > .dice__dot:first-child {
  align-self: flex-start;
}
.field .row .dice--3 > .dice__dot:nth-child(2) {
  align-self: center;
}
.field .row .dice--3 > .dice__dot:last-child {
  align-self: flex-end;
}
.field .row .dice--4 {
  justify-content: space-between;
  padding: 5px;
}
.field .row .dice--4 > .col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.field .row .dice--5 {
  justify-content: space-between;
  padding: 5px;
}
.field .row .dice--5 > .col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.field .row .dice--5 > .col:nth-child(2) {
  justify-content: center;
}
.field .row .dice--6 {
  justify-content: space-between;
  padding: 5px;
}
.field .row .dice--6 > .col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 576px) {
  .field {
    border: none;
  }
}
@media screen and (max-width: 328px) {
  .field {
    height: 70%;
  }
}
@media screen and (max-width: 240px) {
  .field {
    height: 50%;
  }

  .row.row--2 {
    justify-content: center;
  }
}
@media screen and (max-height: 305px) {
  .row.row--2 {
    justify-content: center;
  }
}